<% return show_msg "Please #{ link_to :Login, users_login_path } to continue.", "warning" if auth_required %>

<legend>Editing "<%= @movements.title %>"</legend>

<%= form_for :movements, :url => movements_update_path(params[:id]), :html => { :class => "form-horizontal" } do |f| %>
	<div class="control-group">
		<div class="control-label">Title</div>
		<div class="controls">
			<%= f.text_field :title, :value => @movements.title %>
		</div>
	</div>
	<div class="control-group">
		<div class="control-label">Body</div>
		<div class="controls">
			<%= f.text_area :body, :class => "info-box", :value => @movements.body %>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= f.submit :Edit, :class => "btn"%>
		</div>
	</div>
<% end -%>
