<% return show_msg "Please #{ link_to :Login, users_login_path } to continue.", "warning" if auth_required %>
<% return show_msg "Movement doesn't exist for ID #" + params[:id], "error" if @movements.blank? %>

<% if admin_of_post?(@movements.user_id) %>
	<%= link_to :Edit, movements_edit_path(params[:id]), :class => "pull-right btn", :style => "margin-left: 7px;" %>
  <%= link_to :Delete, movements_delete_path(params[:id]), :class => "pull-right btn"%>
<% end -%>

<%= content_tag :h3, @movements.title %>
<%= content_tag :p, :class => "well-small" do %>
	<%= @movements.body %>
<% end %>
<%= content_tag :p, :class => "muted pull-right" do %>
	<%= "Created by " + @users.first.email %>
<% end -%>

<%= content_tag :h5, :class => "well pull-left" do %>
	Add your say about this movement by creating an
	<%= link_to "Issue", issues_add_path(params[:id]) %>
<% end -%>

<%= content_tag :p, nil, :class => "clearfix" %>

<div class="accordion" id="accordion3">
  <% @issues.each do |m| %>
    <div class="accordion-group">
      <div class="accordion-heading">        
        <%= link_to "<div class=\"icon-info-sign collapse-nav\"></div>".html_safe, issues_view_path(m.id), 
          :class => "pull-right" %>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse_i<%= m.id %>">
          <%= m.title %>
        </a>
      </div>
      <div id="collapse_i<%= m.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= m.body %>
        </div>
      </div>
    </div>
  <% end -%>
</div>
