<% if @users.comments.blank? %>
   <%= content_tag :p, "You've not commented on any issues...", :class => "well-small" %>
<% end -%>

<div class="accordion" id="accordion4">
  <% @users.comments.each do |m| %>
    <div class="accordion-group">
      <div class="accordion-heading">        
        <%= link_to "<div class=\"icon-info-sign collapse-nav\"></div>".html_safe, issues_view_path(m.issue_id), 
          :class => "pull-right" %>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse_c<%= m.id %>">
          <%= m.body %>
        </a>
      </div>
      <div id="collapse_c<%= m.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= content_tag :p, "Created at " + m.created_at.to_s %>
        </div>
      </div>
    </div>
  <% end -%>
</div>