<% if @issues.blank? %>
   <%= content_tag :p, "You've not raised any issues yet...", :class => "well-small" %>
<% end -%>

<div class="accordion" id="accordion3">
  <% @issues.each do |m| %>
    <div class="accordion-group">
      <div class="accordion-heading">        
        <%= link_to "<div class=\"icon-info-sign collapse-nav\"></div>".html_safe, issues_view_path(m.id), 
          :class => "pull-right" %>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse_i<%= m.id %>">
          <%= m.title %>
        </a>
      </div>
      <div id="collapse_i<%= m.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= m.body %>
        </div>
      </div>
    </div>
  <% end -%>
</div>