<% return show_msg "Please #{ link_to :Login, users_login_path } to continue.", "warning" if auth_required %>

<%= back_to "viewing Topic", topics_view_path(params[:topic_id]) %>

<legend>Create Issue</legend>

	<% if @issues.errors.any? %>
		<ul class="span4 pull-right">
			<% @issues.errors.full_messages.each do |e| %>
				<%= content_tag :li, e %>
			<% end -%>
		</ul>
	<% end -%>

<%= form_for @issues, :url => issues_create_path(params[:topic_id]), :html => { :class => "form-horizontal pull-left" } do |f| %>

	<div class="control-group">
		<div class="control-label">Title</div>
		<div class="controls">
			<%= f.text_field :title, :placeholder => "Give your issue a title..." %>
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">Body</div>
		<div class="controls">
			<%= f.text_area :body, :class => "info-box", :placeholder => "Explain your issue..." %>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<%= f.submit :Create, :class => "btn" %>
		</div>
	</div>

<% end -%>