<% return show_msg "Please #{ link_to :Login, users_login_path } to continue.", "warning" if auth_required %>
<% return show_msg "Issue doesn't exist for ID #" + params[:id], "error" if @issues.blank? %>

	<%= link_to "&lsaquo;&lsaquo; Back to movement".html_safe, movements_view_path(@issues.movement_id) %>

<% if admin_of_post?(@issues.user_id) %>
	<%= link_to :Edit, issues_edit_path(params[:id]), :class => "pull-right btn", :style => "margin-left: 10px" %>
  <%= link_to :Delete, issues_delete_path(params[:id]), :class => "pull-right btn" %>
<% end -%>

<%= content_tag :h3, @issues.title %>

<%= content_tag :div, :class => "well" do %>
	<%= content_tag :p, @issues.body %>
	<%= content_tag :div, :class => "well-small comment-border muted" do %>
		<%= content_tag :p, @issues.created_at, :class => "pull-left" %>
		<%= content_tag :p, "Created by " + @users[0][:email], :class => "pull-right" %>
	<% end -%>
<% end -%>

<%= render 'comments/comment_form', :partial => "issue", :object => @issues %>

<% @show_comments.each do |c| %>
	<div class="span6 clearfix">
		<h4 class="page-header"><%= c.author %></h4>
		<% if admin_of_comment?(c.user_id) %>
		<div class="pull-right">
			<%= link_to "", comments_delete_path(c.id), :class => "icon-remove" %>
			<%= link_to "", comments_edit_path(c.id), :class => "icon-edit" %>
		</div>
		<% end -%>
		<p class="clearfix"><%= c.body %></p>
	</div>
<% end -%>