	<% if flash[:notice] %>
		<%= show_msg flash[:notice], "success" %>
	<% end -%>

	<% return show_msg "Profile does not exist for ID ##{params[:id]}", "error" if is_invalid_user %>
	<legend><%= @users.email %></legend>


	<h3>Movements I've started...</h3>
	<%= render 'movements/movements' %>

	<h3>Issues I've raised...</h3>
	<%= render 'issues/issues' %>

	<%= content_tag :h3, "Comments I've made" %>
	<%= render 'comments/comment' %>
