	<% if flash[:notice] %>
		<%= show_msg flash[:notice], "success" %>
	<% end -%>

	<% return show_msg "Profile does not exist for ID ##{params[:id]}", "error" if is_invalid_user %>
	<legend><%= @users.email %></legend>


	<h3>Movements I've started...</h3>
	<%= render 'movements/movements' %>

	<h3>Issues I've raised...</h3>
	<%= render 'issues/issues' %>

	<h3>Comments I've made...</h3>
	<div class="span8">
	<% @comments.each do |c| %>
		<h4 class="page-header">Created at: <%= c.created_at %></h4>
	  <p class="pull-left"><%= c.body %></p>
	  <br>
	<% end -%>
	</div>
